html, body {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
  accent-color: lime;
}

h1 {
  margin-bottom: 0;
}
p {
  margin-top: 0;
}

section {
  display: flex;

  h2 {
    font-size: 32px;
  }
}