html,
body {
  height: 100vh;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 48px;
  accent-color: rgb(255, 208, 0);
  background-image: url(../../../public/ts.svg);
  background-position: calc(100vw - 400px) calc(100vh - 480px);
  background-repeat: no-repeat;
  background-color: #007acc;
  background-size: 25% 25%;
  max-height: calc(100vh - 112px);
  row-gap: 16px;
  color: white;
}

h1 {
  margin-bottom: 0;
}

h1 span {
  font-weight: 300;
}

p {
  margin-top: 0;
  line-height: 160%;
  text-align: center;
}

body a:link,
body a:active,
body a:visited {
  text-decoration: none;
  color: #ffffff10;
  transition: color 150ms ease-in-out;
  text-shadow: 1px 2px 1px #ffffff60;
}
body a:hover {
  color: #ffffff;
}

output {
  font-size: 22px;
  font-weight: 500;
}

section {
  display: flex;
  gap: 64px;
}

h2 {
  font-size: 48px;
}

dl {
  left: 16px;
  bottom: 8px;
  position: fixed;
  font-size: 14px;
  max-height: 220px;
  overflow: auto;
  width: 100%
}
dt {
  color: #ffffff33;
  transition: color 2s ease-out;
}
dd {
  margin: 0;
  color: #ffffff44;
  transition: color 500ms ease-in;
}

dl:hover dt  {
  color: #ffffff88;
}
dl:hover dd  {
  color: #ffffff;
}

label {
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
  gap: 8px;
}

input {
  transform: scale(1.6);
}

canvas {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
}